In [ ]:
list1 = [1,2,3,4,5,6,2,3]

In [2]:
set(list1)

{1, 2, 3, 4, 5, 6}

In [3]:
set1 = set([11, 12, 13, 14, 15, 15, 15, 11])

In [8]:
print(set1)
type(set1)

{11, 12, 13, 14, 15}

set

In [9]:
set2 = {11, 12 ,13, 14, 15, 15, 15, 11}
set2

{11, 12, 13, 14, 15}

In [10]:
len(set2)

5

In [11]:
11 in set2

True

In [12]:
10 in set2

False

In [13]:
10 not in set2

True

In [14]:
set2.remove(11)

In [15]:
set2

{12, 13, 14, 15}

In [16]:
set2.add(16)
set2

{12, 13, 14, 15, 16}

In [17]:
list2 = [1, 2, 3, 4, 5, 2, 3]
list2

[1, 2, 3, 4, 5, 2, 3]

In [18]:
set(list2)

{1, 2, 3, 4, 5}

In [29]:
set3 = {2, 3, 4, 5, 6, 8}
set2 = {3 ,5 ,8}

In [30]:
set3.intersection(set2)

{3, 5, 8}

In [31]:
set2.intersection(set3)

{3, 5, 8}

In [36]:
set3.difference(set2)

{2, 4, 6}

In [39]:
# Frozen Sets: they are immutable sets.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 7]

In [40]:
fs1 = frozenset(list1)
fs2 = frozenset(list2)
fs1
fs2

frozenset({3, 4, 7})

In [43]:
fs1.add(10)
fs1.remove(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [44]:
fs1

frozenset({1, 2, 3, 4})

In [45]:
fs2

frozenset({3, 4, 7})

In [46]:
fs1.intersection(fs2)

frozenset({3, 4})

In [47]:
fs1.difference(fs2)

frozenset({1, 2})

In [48]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 7})

In [51]:
set2.pop()
set2

{5}

In [52]:
set2.delete()

AttributeError: 'set' object has no attribute 'delete'

In [53]:
set1

{11, 12, 13, 14, 15}

In [54]:
set1.clear()

In [55]:
set1

set()